# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Planos salvos
tfplan
*.tfplan

# Variáveis que podem conter senhas
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

# Arquivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Certificados e chaves privadas
*.pfx
*.p12
*.pem
*.key

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db